.venv/core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv/
env/
blog/fixtures/
tracker/fixtures/
db.sqlite3
google-credentials.json
credentials.json
encoded.txt
.env

