/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');


/* CSS Variables */
:root {
  --primary-font: 'Multiplex', sans-serif;
  --secondary-font: "Macondo", cursive;
  --pastel-blue: #E6F0FA;
  --light-blue: #F3F9FD;
  --teal: #A1D9CE;
  --navy: #2E3A59;
  --soft-coral: #F28C8C;
  --lightest-blue: #F8FBFF;
  --mid-blue: #A7C7E7;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.05);
}

